.master-detail-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.master-detail-view .editor-layout {
  width: 400px;
}

.master-detail-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
}
